Repository gabrieljackson/mattermost-plugin-wrangler, pull requests merged in 2022-08, with the labels that each got.

#137 Bump dependencies
  .circleci/config.yml
  Makefile
  go.mod
  go.sum
  webapp/.eslintrc.json
  webapp/package-lock.json
  webapp/package.json
  webapp/tests/setup.js
Labels: dependencies

#128 Customizable Bot-Messages
  .gitignore
  plugin.json
  server/command_attach_message.go
  server/command_attach_message_test.go
  server/command_copy_thread.go
  server/command_copy_thread_test.go
  server/command_move_thread.go
  server/command_move_thread_test.go
  server/configuration.go
  server/manifest.go
  server/utils.go
  webapp/src/manifest.ts
Labels: enhancement, kind/feature-server

#139 Add NPM CI/CD cache
  .circleci/config.yml
Labels: kind/cleanup

#104 support FreeBSD here
  Makefile
  plugin.json
  server/manifest.go
  webapp/src/manifest.ts
Labels: enhancement, kind/feature-server
